@import 'styles/index';

.searchIcon {
  transform: translateY(2px);
}

.iconDark {
  path {
    fill: var(--color-dark-label);
  }
}

.iconLight {
  path {
    fill: var(--color-light-label);
  }
}

.icon {
  margin-left: 4px;
}
