@import 'styles/index';

.base {
  z-index: var(--z-index-forground-content);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 1.6;

  @media (--viewport-lg) {
    display: flex;
    width: 50%;
    flex-basis: auto;
  }
}

.fullWidthMedia {
  @media (--viewport-md-only) {
    position: relative;
    margin-right: auto;
    margin-left: 0;
  }
  @media (--viewport-lg) {
    width: 100%;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
  }
}

.fullWidthMedia.reverse {
  pointer-events: none;

  @media (--viewport-lg) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.topOffest.topOffest {
  margin-top: 0;
}

.innerWrapper {
  justify-content: space-between;
  padding: 40px var(--layout-sm-margin);
  pointer-events: auto;

  @media (--viewport-md-only) {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  @media (--viewport-md) {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    padding: 90px var(--layout-md-margin);
  }

  @media (--viewport-lg) {
    width: calc(100% * 8 / 12);
    max-width: 780px;
    flex-basis: auto;
    flex-direction: column;
    padding: 115px 0;
    margin-top: auto;
    margin-right: 34%;
    margin-bottom: auto;
    margin-left: 15%;
  }

  .topOffest & {
    @media (--viewport-md) {
      padding-top: 80px;
    }

    @media (--viewport-lg) {
      padding-top: var(--layout-logo-vertical-offset-lg);
      margin-top: 0;
    }
  }

  .fullWidthMedia & {
    height: 100%;

    @media (--viewport-md) {
      width: calc(100% * 6 / 12);
      padding-right: 0;
      padding-left: 0;
      margin-right: 40px;
      margin-left: calc(100% * 4 / 12);
    }

    @media (--viewport-lg) {
      width: calc(100% * 5 / 12);
      max-width: 680px;
      margin-right: calc(100% * 3 / 12);
      margin-left: auto;
    }
  }

  .reverse & {
    @media (--viewport-lg) {
      margin-right: 15%;
      margin-left: 34%;
    }
  }

  .topOffest.fullWidthMedia & {
    @media (--viewport-md) {
      padding-top: var(--layout-logo-vertical-offset-md);
    }

    @media (--viewport-lg) {
      padding-top: var(--layout-logo-vertical-offset-lg);
    }
  }

  .fullWidthMedia.reverse & {
    @media (--viewport-lg) {
      margin-right: 0;
      margin-left: calc(100% * 3 / 12);
    }
  }
}

.header {
  @media (--viewport-md-only) {
    width: 100%;
    flex-basis: auto;
  }

  .section & {
    @media (--viewport-md-only) {
      margin-right: var(--layout-md-spacing);
    }
  }
}

.content {
  font-size: rem(16px);

  @media (--viewport-sm-only) {
    margin-top: 15px;
  }
}

.description {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: rem(16px);
}
