@import 'styles/index';

.base {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: rem(15px);

  @media (--viewport-md-only) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 9px;

  @media (--viewport-md-only) {
    width: 50%;
  }
}

.offsetHeading {
  @media (--viewport-md-only) {
    padding-right: var(--layout-md-spacing);
  }
}

.content {
  @media (--viewport-md-only) {
    width: 50%;
  }
}

.description {
  &,
  & p {
    font-size: rem(14px);
    font-weight: 400;
    line-height: 1.7;
  }

  &.dark {
    &,
    & p {
      color: var(--color-dark-copy);
    }
  }

  &.light {
    &,
    & p {
      color: var(--color-light-copy);
    }
  }
}

.hasCta.hasCta {
  margin-bottom: 20px;
}

.ctaWrapper {
  margin-top: auto;
}
