@import 'styles/index';

.slide {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.backButton {
  justify-content: flex-start;
}

.directionIcon {
  &.dark {
    polygon {
      fill: var(--color-grey-45);
    }
  }

  &.light {
    polygon {
      fill: var(--color-grey-65);
    }
  }
}

.forward {
  margin-right: 15px;
  margin-left: 15px;
  transform: rotate(-90deg);
}

.backwards {
  margin-right: 15px;
  transform: rotate(90deg);
}
