{
  "plugins": ["testing-library", "jest-dom"],
  "extends": [
    "./node_modules/@aesop-engineering/code-styles/eslint/browser-ts.js",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": "warn"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    },
    {
      "files": ["*.tsx"],
      "rules": {
        "max-lines-per-function": ["warn", { "max": 100 }]
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "files": ["*.spec.js", "*.spec.ts", "*.spec.tsx"],
      "env": {
        "jest": true,
        "node": true
      },
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "init-declarations": "off"
      }
    },
    {
      "files": [
        "babel.config.js",
        "jest.config.js",
        "list-js-files.js",
        "postcss.config.js",
        "rollup.config.js"
      ],
      "env": {
        "node": true
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
