{
  "**/*.{js,json,md}": [
    "prettier --write"
  ],
  "**/*.js": [
    "eslint --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix"
  ]
}
