@import 'styles/index';

.base {
  margin-top: 40px;
}

.list {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.item {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}

.element {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  outline-offset: 0;
  transition: outline-offset 300ms var(--easing-ease-out-cubic),
    color 300ms var(--easing-ease-out-cubic);

  &:hover {
    .ornimentalHover::after {
      width: 100%;
    }
  }

  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }

  .dark &:hover {
    color: var(--color-black);
  }

  .light &:hover {
    color: var(--color-white);
  }

  .dark &:focus {
    outline: 1px dashed var(--color-dark-label);
    outline-offset: 2px;
  }

  .light &:focus {
    outline: 1px dashed var(--color-dark-label);
    outline-offset: 2px;
  }
}
