@import 'styles/index';

.base {
  padding: 4px;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  font-weight: normal;
  pointer-events: none;
  transition: outline-offset 200ms var(--easing-ease-out-cubic),
    color 200ms var(--easing-ease-out-cubic);
  visibility: hidden;

  /* responsive menu font */
  @media (--viewport-x2l) {
    font-size: calc(14px + 0.111vw);
  }

  @media (--viewport-x3l) {
    font-size: 18px;
  }

  &.dark:focus-visible {
    outline: 1px dashed var(--color-dark-decoration);
    outline-offset: 2px;
  }

  &.light:focus-visible {
    outline: 1px dashed var(--color-light-decoration);
    outline-offset: 2px;
  }
}

.menuOpen {
  pointer-events: auto;
  visibility: visible;
}

.icon {
  margin-left: 7px;
  transition: fill 200ms var(--easing-ease-out-cubic);

  .dark & {
    fill: var(--color-secondary);
  }

  .light & {
    fill: var(--color-primary);
  }
}
