@import 'styles/index';

.base {
  min-height: 85vh;
  padding-top: var(--layout-sm-margin);
  padding-right: var(--layout-sm-margin);
  padding-bottom: var(--layout-sm-margin);
  padding-left: var(--layout-sm-margin);

  @media (--viewport-md) {
    padding-top: 100px;
    padding-right: var(--layout-md-margin);
    padding-bottom: 40px;
    padding-left: var(--layout-md-margin);
  }

  @media (--viewport-lg) {
    padding-right: var(--layout-lg-margin);
    padding-bottom: var(--layout-lg-margin);
    padding-left: var(--layout-lg-margin);
  }

  @media (--viewport-xl) {
    padding-top: 120px;
    padding-right: 0;
    padding-bottom: 120px;
    padding-left: 0;
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;

  @media (--viewport-lg) {
    flex-direction: row-reverse;
  }
}

.content {
  @media (--viewport-lg) {
    width: calc(100% * 5 / 12);
    max-width: 470px;
  }

  @media (--viewport-xl) {
    width: calc(100% * 3 / 12);
    margin-right: calc(100% * 1 / 12);
  }
}

.image {
  @media (--viewport-lg) {
    width: calc(100% * 7 / 12);
    align-self: flex-end;
  }

  picture {
    @media (--viewport-sm-only) {
      margin-bottom: 30px;
    }
    @media (--viewport-md-only) {
      margin-bottom: 50px;
    }
    @media (--viewport-lg) {
      display: block;
      max-width: 440px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media (--viewport-xl) {
    width: calc(100% * 4 / 12);
  }
}

.largeImage {
  @media (--viewport-lg) {
    width: calc(100% * 7 / 12);

    picture {
      max-width: 880px;
    }
  }
  @media (--viewport-xl) {
    width: calc(100% * 7 / 12);
  }
}

.breadcrumbs {
  margin-bottom: 25px;
  @media (--viewport-md-only) {
    margin: 20px 0 0;
    transform: translateY(-20px);
  }

  @media (--viewport-lg) {
    max-width: 470px;
    margin-top: 0;
  }
}
