@import 'styles/index';

.base {
  position: relative;
  display: grid;
  margin-top: 0;
  background-color: #d9d8cf;
  grid-template-columns: 1fr 1fr;

  @media (--viewport-xs-sm-only) {
    display: block;
  }
}

.scrollLockMedia {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;

  @media (--viewport-md-only) {
    margin-right: 20px;
  }
}

.scrollingContent {
  position: relative;
}

@media all and (-ms-high-contrast: none) {
  .scrollingContent {
    margin-top: 0;
  }
  .scrollLockMedia {
    position: absolute;
    height: 100%;
    clip: rect(auto, auto, auto, auto);
  }
  .backgroundElement {
    position: fixed;
    top: 0;
    left: 0;
  }
}
