@import 'styles/index';

.base {
  position: relative;
  display: grid;
  margin-top: 0;
  grid-template-columns: 1fr 1fr;
}

.scrollLockMedia {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.scrollingContent {
  position: relative;
  padding-top: 0;
  background-color: #d9d8cf;
}

@media all and (-ms-high-contrast: none) {
  .scrollingContent {
    margin-top: 0;
  }
  .scrollLockMedia {
    position: absolute;
    height: 100%;
    clip: rect(auto, auto, auto, auto);
  }
  .backgroundElement {
    position: fixed;
    top: 0;
    left: 0;
  }
}
