@import 'styles/index';

:root {
  --menu-height: 80px;
}

.base {
  display: flex;
  height: var(--menu-height);
  align-items: center;
  border-bottom: 2px solid transparent;
  margin-right: 1.3vw;
  pointer-events: auto;
  transition: border-bottom-color 200ms var(--easing-ease-in-out-cubic);

  @media (--viewport-x3l) {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.active {
  &.dark {
    border-bottom-color: var(--color-secondary);
  }

  &.light {
    border-bottom-color: var(--color-primary);
  }
}

.element {
  padding: 4px;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  font-weight: normal;
  transition: outline-offset 200ms var(--easing-ease-out-cubic),
    color 200ms var(--easing-ease-out-cubic);

  /* responsive font */
  @media (--viewport-lg-only) {
    font-size: calc(12px + 0.11vw);
  }

  &.dark:focus-visible {
    outline: 1px dashed var(--color-dark-decoration);
    outline-offset: 2px;
  }

  &.light:focus-visible {
    outline: 1px dashed var(--color-light-decoration);
    outline-offset: 2px;
  }
}
