@import 'styles/index';

.base {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  padding-left: 40px;
  margin-right: 80px;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(30px);
  line-height: 1.33;
  transform: translate3d(0, 0, 0);

  @media (--viewport-xs-sm-only) {
    height: auto;
    padding: 0;
    margin: 30px 0 100px 0;
    font-size: rem(19px);
  }

  @media (--viewport-md-only) {
    padding-left: 20px;
    margin-right: 34px;
  }
}

.dark {
  color: var(--color-dark-copy);
}

.light {
  color: var(--color-light-copy);
}
