@import 'styles/index';

.collapse {
  overflow: hidden;
  opacity: 0;
  transition: max-height 400ms var(--easing-ease-out-cubic),
    opacity 400ms var(--easing-ease-out-cubic);

  &[aria-hidden='false'] {
    opacity: 1;
  }
}

.nestedButton {
  width: calc(100% - 10px);
  padding-left: 42px;
  margin-bottom: 5px;
}

.icon {
  position: relative;
  width: 14px;
  height: 14px;
  box-sizing: content-box;
  padding: 5px;

  &::before {
    transform: rotate(90deg);
  }

  &::before,
  &::after {
    position: absolute;
    top: 11px;
    left: 5px;
    width: 14px;
    height: 2px;
    content: '';
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &.expanded::before {
    transform: rotate(0);
  }

  &.expanded::after {
    transform: rotate(180deg);
  }

  &.dark::before,
  &.dark::after {
    background-color: var(--color-dark-label);
  }

  &.light::before,
  &.light::after {
    background-color: var(--color-light-label);
  }

  &.dark:hover::before,
  &.dark:hover::after {
    background-color: var(--color-secondary);
  }

  &.light:hover::before,
  &.light:hover::after {
    background-color: var(--color-primary);
  }
}
