@import 'styles/index';

.heading {
  display: block;
  margin-bottom: 18px;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(18px);
  font-weight: normal;
  line-height: 1.33;
}

.list {
  padding-right: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 45px;
  list-style-type: none;
}

.item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.article {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.itemElement {
  font-family: var(--font-family-sans-serif-normal);
  font-size: rem(18px);
  line-height: 1.33;
  transition: outline-offset 200ms var(--easing-ease-out-cubic);

  .dark & {
    color: var(--color-secondary);
  }

  .light & {
    color: var(--color-primary);
  }

  .dark &:focus {
    outline: 1px dashed var(--color-dark-decoration);
    outline-offset: 2px;
  }

  .light &:focus {
    outline: 1px dashed var(--color-light-decoration);
    outline-offset: 2px;
  }
}

.itemLabel {
  display: block;
  margin-bottom: 5px;
}

.small {
  display: block;
  color: var(--color-dark-label);
  font-size: rem(14px);
}

.eyebrow {
  margin-bottom: 30px;
}
