@import 'styles/index';

.eyebrow {
  margin-bottom: 30px;
}

.small {
  display: block;
  color: var(--color-dark-label);
  font-size: rem(14px);
}

.heading {
  display: block;
  margin-bottom: 10px;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(16px);
  font-weight: normal;
  line-height: 1.33;
}

/* responsive font */
@media (min-width: 1600px) and (max-width: 1920px) {
  .heading {
    font-size: rem(calc(16px + .111vw));
  }
}

@media (min-width: 1920px) {
  .heading {
    font-size: rem(20px);
  }
}

.list {
  padding-right: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 45px;
  list-style-type: none;
}
