@import 'styles/index';

.base {
  z-index: var(--z-index-forground-content);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 1.6;

  @media (--viewport-lg) {
    display: flex;
    width: 50%;
    flex-basis: auto;
  }
}

.hasFullWidthImage {
  @media (--viewport-lg) {
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 50%;
  }
}

.hasFullWidthImage.reverse {
  @media (--viewport-lg) {
    margin-right: 50%;
    margin-left: 0;
  }
}

.innerWrapper {
  justify-content: space-between;
  padding: 40px var(--layout-sm-margin);

  @media (--viewport-md) {
    display: flex;
    flex-basis: auto;
    padding: 90px var(--layout-md-margin);
  }

  @media (--viewport-lg) {
    width: calc(100% * 8 / 12);
    max-width: 780px;
    flex-basis: auto;
    flex-direction: column;
    padding: 115px 0;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  .hasFullWidthImage & {
    height: 100%;
  }
}

.header {
  @media (--viewport-md-only) {
    width: 48%;
    flex-basis: auto;
  }

  .section & {
    @media (--viewport-md-only) {
      margin-right: var(--layout-md-spacing);
    }
  }
}

.content {
  margin-top: 10px;
  font-size: rem(14px);

  @media (--viewport-md-only) {
    width: 48%;
    flex-basis: auto;
  }

  @media (--viewport-md-only) {
    margin-left: var(--layout-md-spacing);
  }

  .dark & {
    border-top: 2px solid var(--color-grey-20);
  }

  .light & {
    border-top: 2px solid var(--color-light-copy);
  }
}

.description {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: rem(14px);
}
