:root {
  --breakpoint-xs-min: 0;
  --breakpoint-xs-max: 320px;
  --breakpoint-sm-min: 321px;
  --breakpoint-sm-max: 639px;
  --breakpoint-md-min: 640px;
  --breakpoint-md-max: 1024px;
  --breakpoint-lg-min: 1025px;
  --breakpoint-lg-max: 1219px;
  --breakpoint-xl-min: 1220px;
  --breakpoint-xl-max: 1599px;
  --breakpoint-x2l-min: 1600px;
  --breakpoint-x2l-max: 1919px;
  --breakpoint-x3l-min: 1920px;
  --breakpoint-x3l-max: 2399px;
  --breakpoint-x4l-min: 2400px;
}

@custom-media --viewport-sm (width >= var(--breakpoint-sm-min));
@custom-media --viewport-md (width >= var(--breakpoint-md-min));
@custom-media --viewport-lg (width >= var(--breakpoint-lg-min));
@custom-media --viewport-xl (width >= var(--breakpoint-xl-min));
@custom-media --viewport-x2l (width >= var(--breakpoint-x2l-min));
@custom-media --viewport-x3l (width >= var(--breakpoint-x3l-min));
@custom-media --viewport-x4l (width >= var(--breakpoint-x4l-min));

@custom-media --viewport-xs-sm-only (width <= var(--breakpoint-sm-max));
@custom-media --viewport-xs-sm-md-only (width <= var(--breakpoint-md-max));
@custom-media --viewport-md-only (width >= var(--breakpoint-md-min)) and (width <= var(--breakpoint-md-max));
@custom-media --viewport-lg-only (width >= var(--breakpoint-lg-min)) and (width <= var(--breakpoint-lg-max));

@custom-media --viewport-vertical (height > 1080px) and (orientation: portrait);
