@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: relative;
  overflow: scroll;
  width: 100%;
  max-height: calc(100vh - var(--layout-sm-spacing) * 4);
  padding: var(--layout-sm-margin);
  background-color: var(--color-white);
  color: var(--color-grey-10);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  line-height: 1.6;
  pointer-events: auto;
  transform: translateZ(0);

  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  @media (--viewport-md) {
    max-height: calc(100vh - var(--layout-md-spacing) * 4 - 50px);
    padding: 50px;
  }

  &.isVisible {
    pointer-events: auto;
  }
}

.closeIcon {
  .dark & {
    fill: var(--color-dark-label);
  }

  .light & {
    fill: var(--color-light-label);
  }

  .dark .closeButton:hover & {
    fill: var(--color-secondary);
  }

  .light .closeButton:hover & {
    fill: var(--color-primary);
  }
}

.closeButton {
  position: absolute;
  top: 28px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: outline-offset 300ms var(--easing-ease-out-cubic);

  @media (--viewport-md) {
    top: 40px;
    right: 42px;
    width: 42px;
    height: 42px;
  }

  .dark &:focus-visible {
    outline: 1px dashed var(--color-dark-copy-alternate);
    outline-offset: 2px;
  }

  .light &:focus-visible {
    outline: 1px dashed var(--color-light-copy-alternate);
    outline-offset: 2px;
  }
}
