@import 'styles/variables/index.css';

/* Dark theme UI elements */
%font-theme-dark-copy {
  color: var(--color-dark-copy);
}

%font-theme-dark-copy-alternate {
  color: var(--color-dark-copy-alternate);
}

%font-theme-dark-link {
  color: var(--color-dark-link);

  &:hover,
  &:focus {
    color: var(--color-dark-link-hover);
  }
}

%font-theme-dark-label {
  color: var(--color-dark-label);
}

%font-theme-dark-decoration {
  color: var(--color-dark-decoration);
}

%font-theme-dark-disabled {
  color: var(--color-dark-disabled);
}

/* Light theme UI elements */
%font-theme-light-copy {
  color: var(--color-light-copy);
}

%font-theme-light-copy-alternate {
  color: var(--color-light-copy-alternate);
}

%font-theme-light-link {
  color: var(--color-light-link);

  &:hover,
  &:focus {
    color: var(--color-light-link-hover);
  }
}

%font-theme-light-label {
  color: var(--color-light-label);
}

%font-theme-light-decoration {
  color: var(--color-light-decoration);
}

%font-theme-light-disabled {
  color: var(--color-light-disabled);
}
