@import 'styles/index';

.base {
  background-color: transparent;
}

.list {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.item {
  &:not(:first-child) {
    margin-left: 12px;
  }

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.action {
  transition: color 200ms var(--easing-ease-out-cubic),
    outline-offset 200ms var(--easing-ease-out-cubic);

  .dark &:focus-visible,
  .darkClosed &:focus-visible {
    outline: 1px dashed var(--color-dark-decoration);
    outline-offset: 2px;
  }

  .light &:focus-visible,
  .lightClosed &:focus-visible {
    outline: 1px dashed var(--color-light-decoration);
    outline-offset: 2px;
  }
}

.itemLogo {
  flex-grow: 1;
}

.actionSearch {
  display: inline-flex;
  padding: 5px;
  font-family: var(--font-family-sans-serif-regular);
  line-height: 1;
  transform: translateY(-5px);
}

.searchIcon {
  .dark &,
  .darkClosed & {
    path {
      fill: var(--color-secondary);
    }
  }

  .light &,
  .lightClosed & {
    path {
      fill: var(--color-primary);
    }
  }
}

.actionCart {
  display: inline-flex;
  padding: 5px;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 1;
  transform: translateY(-5px);

  .dark &,
  .darkClosed & {
    color: var(--color-secondary);
  }

  .light &,
  .lightClosed & {
    color: var(--color-primary);
  }
}

.ornamentalHover::after {
  .darkClosed & {
    background-color: var(--color-secondary);
  }

  .lightClosed & {
    background-color: var(--color-primary);
  }
}

.itemMenu:last-child {
  margin-left: 7px;
}

.actionMenu {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  padding: 5px;
  transform: translate(5px, -7px);

  &::before {
    top: 9px;
  }

  &::after {
    top: 16px;
  }

  &::before,
  &::after {
    position: absolute;
    left: 5px;
    width: 16px;
    height: 2px;
    content: '';
    transition: all 200ms var(--easing-ease-out-cubic);
  }

  &.openState::before {
    transform: rotate(45deg);
  }

  &.openState::after {
    transform: rotate(-45deg);
  }

  &.openState::after,
  &.openState::before {
    top: 12px;
  }

  .dark &::before,
  .dark &::after,
  .darkClosed &::before,
  .darkClosed &::after {
    background-color: var(--color-secondary);
  }

  .light &::before,
  .light &::after,
  .lightClosed &::before,
  .lightClosed &::after {
    background-color: var(--color-primary);
  }
}

.search {
  z-index: calc(var(--z-index-fixed-menu) + 1);
  top: 90px;
  height: 100%;

  .dark & {
    border-top: 1px solid var(--color-grey-60);
    background-color: var(--color-primary);
  }

  .light & {
    border-top: 1px solid var(--color-white);
    background-color: var(--color-secondary);
  }
}
