@import 'styles/index';

:root {
  --container-margin: 40px;
  --menu-height: 80px;
  --border-bottom-offset: 1px;
}

.base {
  position: absolute;
  z-index: var(--z-index-menu);
  display: flex;
  width: 100%;
  height: var(--menu-height);
  justify-content: space-between;
  padding-right: var(--container-margin);
  padding-left: var(--container-margin);
  pointer-events: auto;
  transition: background-color 200ms var(--easing-ease-in-out-cubic);

  /* Added to more elegantly transition between breakpoints */
  & > * {
    opacity: 0;
    transition: opacity 200ms var(--easing-ease-in-out-cubic);

    @media (--viewport-lg) {
      opacity: 1;
    }
  }

  &.open {
    position: fixed;
    z-index: var(--z-index-fixed-menu);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: var(--color-primary);
    transition: height 200ms var(--easing-ease-in-out-cubic);
  }

  &.isLegacyMenu {
    height: 0;
  }

  &,
  & * {
    box-sizing: border-box;
  }

  &::before {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: calc(var(--menu-height) - var(--border-bottom-offset));
    border-bottom: 1px solid transparent;
    background-color: var(--color-primary);
    content: '';
    transition: background-color 200ms var(--easing-ease-in-out-cubic),
      border-bottom 300ms var(--easing-ease-in-cubic);
  }

  &.isVisibleStickyNav,
  &.isInvisibleStickyNav {
    position: fixed;
    height: var(--menu-height);
    transition: top 300ms var(--easing-ease-out-cubic);
  }

  &.isVisibleStickyNav {
    top: 0;
    &::before {
      border-bottom: 1px solid var(--color-grey-rgba-20);
    }
  }

  &.isInvisibleStickyNav {
    top: calc(0 - var(--menu-height));
  }

  &.light::before {
    background-color: var(--color-secondary);
  }
}

.ornamentalHover {
  @extend %ornamentalHover;
}

.ornamentalHover::after {
  @extend %ornamentalHoverAfter;
}

.dark .ornamentalHover::after {
  @extend %ornamentalHoverDarkTheme;
}

.light .ornamentalHover::after {
  @extend %ornamentalHoverLightTheme;
}

.ornamentalWrapper:hover {
  .ornamentalHover::after {
    width: 100%;
  }
}

.absoluteBuffer {
  height: var(--menu-height);
  pointer-events: none;
  visibility: hidden;
}
